In [1]:
import pandas as pd, matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#import texantopic and texantopicwords
#select Text, Author, Assigned_topic
#join texantopic.1 and texantopicwords.Assigned_topic

df = pd.read_csv('texantopic.csv')
df.head()

,Text,Author,Date,Title,Sent,Unnamed: 5,Unnamed: 6,Topic 0,Topic 1,Topic 2,...,Topic 26,Topic 27,Topic 28,Topic 29,Topic 30,Topic 31,Topic 32,Topic 33,Topic 34,Assigned Topic
0,Lauren Winchester: editor-in-chief \t\tIt?s a...,the daily texan editorial board,8/24/2010 0:00,Meet your editors,0.9976,Meet editors,Meet editor,0.034550,0.000301,0.000060,...,0.000062,0.000134,0.000085,0.000097,0.000081,0.009362,0.000089,0.020063,0.122849,topic_15
1,It?s still the first week of class here at UT ...,sarah weddington,8/30/2010 0:00,Student success inspires optimism,0.9960,Student success inspires optimism,student success inspire optimism,0.000133,0.054074,0.000084,...,0.000087,0.000189,0.000119,0.002691,0.000114,0.010634,0.015454,0.015490,0.009561,topic_20
2,Texas universities are vulnerable to the shift...,holly heinrich,4/25/2011 19:47,Taking politics out of higher ed,0.9544,Taking politics ed,take politics ed,0.000148,0.000474,0.028630,...,0.000097,0.000211,0.000133,0.000153,0.000128,0.151707,0.002993,0.000181,0.230411,topic_14
3,Concealed carry amendment \t?I did not expect...,the daily texan editorial board,4/28/2011 19:15,"Quotes to Note: April 28, 2011",0.8570,Quotes Note April 28 2011,quote note April 28 2011,0.000256,0.005732,0.000162,...,0.000168,0.000364,0.000229,0.000263,0.024799,0.108945,0.000241,0.000312,0.052807,topic_14
4,"Growing up, summertime always meant swimming p...",dan treadway,6/1/2011 23:32,"Summertime means minimum wage misery, hilarity",0.9955,Summertime means minimum wage misery hilarity,Summertime mean minimum wage misery hilarity,0.000151,0.486834,0.000095,...,0.000099,0.000214,0.000135,0.043579,0.000130,0.061264,0.000142,0.000183,0.022414,topic_1

In [17]:
author_top = df[['Author','Assigned Topic']]
merged = pd.merge(author_top,author_top,on = 'Assigned Topic')
merged = merged[merged['Author_x'] != merged['Author_y']]
merged = merged[['Author_x','Author_y']]
merged.to_csv('authors_by_topics.csv')

In [8]:
df.shape

(3807, 43)

In [9]:
3807 * 3807

14493249